@model PasswordManagerProject.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<h2 Align="center">My Passwords</h2>
<div class="row">
    <div align="center">
        <div>
            <strong>User:</strong> @Model.UserInfo.Username
            <br />
            <strong>Fullname:</strong> @Model.UserInfo.FullName
        </div>
        
        <div class="btn btn-primary col-sm-2 col-sm-offset-2" onclick="OpenAddPasswordModal('@Model.UserInfo.UserId')">Add New Password</div>
        <div class="clearfix"><br /><br /></div>
        <table class="col-sm-8 col-sm-offset-2">
            <thead>
                <tr>
                    <th>Password</th>
                    <th>Label</th>
                    <th>Date Created</th>
                    <th>Edit</th>
                    <th>More Info</th>
                    <th>Copy</th>
                </tr>        
            </thead>
            <tbody>
                @*loop through all user passwords and list individual information*@
                @{
                    var ctr = 0;
                }
                @foreach (var pass in Model.UserPasswords)
                {
                    
                    <tr>
                        <td id="password-@(ctr)">@pass.Password</td>
                        <td>@pass.LabelType</td>
                        <td>@pass.DateCreated</td>
                        <td><a class="btn" href="@Url.Action("Edit", "Password", new { passwordId = pass.PasswordId })">Edit</a></td>
                        <td><a id="additionalInfo" class="btn" href="#"><span class="glyphicon glyphicon-align-justify"></span></a></td>
                        <td><a id="copyToClipboard" class="btn" href="#" onclick="copyToClipboard('@ctr');"><span class="glyphicon glyphicon-duplicate"></span></a></td>
                    </tr>
                    
                    ctr++;
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Add Password modal -->
<div class="modal fade" id="addNewPasswordOption" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Password</h4>
            </div>
            @using (Html.BeginForm("AddPassword", "Password", FormMethod.Post, new { name = "AddPassword", @class = "form-horizontal" }))
            { 
                @Html.Hidden("UID")
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>                    
                        <div class="col-sm-6">
                            @Html.TextBox("password", string.Empty, new { @class = "form-control", maxlength = "50", id = "newPasswordField" })                        
                        </div>
                        <div class="col-sm-3">
                            <i>(Max 50 characters)</i>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 col-sm-offset-3">
                            <div class="btn btn-info" style="margin-top:5px;" onclick="GeneratePassword();">Generate Password</div>
                        </div>
                        <br /><br />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Label</label>
                        <div class="col-sm-6">
                            @Html.TextBox("label", string.Empty, new { @class = "form-control", maxlength = "20" })
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer">
                    <button class="center-block btn btn-success" type="submit">Add Password</button>
                    <div class="btn btn-warning" data-dismiss="modal">Cancel</div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Java Script -->
<script src="/Scripts/jquery-3.1.1.min.js"></script>
<script src="/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="/Scripts/jquery-3.1.1.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        
    });

    function OpenAddPasswordModal(userId) {
        $('#UID').val(userId);
        $('#addNewPasswordOption').modal('show');
    }

    function GeneratePassword() {        

        $.ajax({
            url: '@Url.Action("GeneratePassword", "Password")',
            data: "",
            type: "POST",
            async: true,
            success: function (response) {
                $('#newPasswordField').val(response);

            }
        });
    }

    function GetValue() {
        var myarray = new Array("item1", "item2", "item3");
        var random = myarray[Math.floor(Math.random() * myarray.length)];
        //alert(random);
        document.getElementById("message").innerHTML = random;
    }

    function copyToClipboard(idNumber) {

        var elementId = 'password-' + idNumber;
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);

    }

</script>