<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Password123</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/css")
    </head>
    <body>
        <header>

           <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Password123</a>
                    </div>
                    @if (string.IsNullOrEmpty(ViewBag.Navigation))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Passwords</a></li>
                            <li><a href="#">My Profile</a></li>
                        </ul>
                    }
                </div>
               
              </div>
            </nav>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
