<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Password123</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/css")
    </head>
    <body>
        <header>

           <nav class="navbar navbar-fixed-top navbar-inverse">
              <div class="container-fluid">
                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/Home">Password123</a></li>
                    </ul>
                    @if (HttpContext.Current.Session["userId"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Profile?userId=@HttpContext.Current.Session["userId"]"><span class="glyphicon glyphicon-lock"></span> Passwords</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Welcome 
                                    @HttpContext.Current.Session["userName"]!
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    }
                </div>
               
              </div>
            </nav>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    
                </div>
            </div>
        </footer>


        @Scripts.Render("~/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
